<MarketplaceDetails>
  <SmallAppTile>trello-store-tile.png</SmallAppTile>
  <ScreenShots>;;;;;;;;</ScreenShots>
  <ScreenShotsWXGA>trello-store-ss1.png;trello-store-ss2.png;trello-store-ss3.png;trello-store-ss4.png;trello-store-ss5.png;trello-store-ss6.png;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>